.lead__subtitle {
  margin: 0;
  padding: 0;
  margin-top: 32px;
  max-width: 640px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
}

@media  screen and (max-width: 768px) {
  .lead__subtitle {
    font-size: 3.9vw;
    line-height: 1.25;
    width: calc(100% - 2 * 64px);
  }
}
@media screen and (max-width: 425px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
    width: calc(100% - 2 * 16px);
  }
}