.cover__overlay-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 62.5vw;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  box-sizing: border-box;
  background-position: center;
  text-decoration: none;
  transition: opacity .6s;
}
.cover__overlay-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  opacity: .3;
  transition: opacity .6s;
  z-index: 1;
}
.cover__overlay-link:hover::before {
  opacity: .8;
}
@media screen and (min-width: 1280px) {
  .cover__overlay-link {
  min-height: 740px;
  }
}