.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1184px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .footer {
    max-width: calc(1024px - 2 * 48px);
    width: calc(100% - 2 * 48px);
  }
}
@media screen and (max-width: 768px) {
  .footer {
    max-width: calc(768px - 2 * 24px);
    width: calc(100% - 2 * 24px);
  }
}
@media screen and (min-width: 321px) and (max-width: 767px) {
  .footer {
    flex-direction: column;
    max-width: calc(767px - 2 * 24px);
    width: calc(100% - 2 * 24px);
    row-gap: 48px;
  }
}
@media screen and (max-width: 320px) {
  .footer {
    flex-direction: column;
    max-width: calc(320px - 2 * 16px);
    width: calc(100% - 2 * 16px);
    row-gap: 48px;
  }
}